@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.noto_thin {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

.noto_light {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

.noto_regular {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.noto_medium {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.noto_bold {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

.noto_black {
    font-family: YakuHanJP_Noto, 'Noto Sans JP', sans-serif;
    font-weight: 900;
}

.oswald_extra_light {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.oswald_light {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.oswald_regular {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.oswald_medium {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.oswald_semi_bold {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.oswald_bold {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.color_1{
    color: #005cdc;
}

.color_2{
    color: #ff9000;
}