header.isActive {
  box-shadow: none !important;
}

header.isActive .view_tabsp h1 {
  opacity: 0;
}

header.isActive .view_tabsp .menu_cont {
  background-color: #005cdc;
}

.m_menu {
  position: relative;
  margin: 4vw auto 0;
  height: 7vw;
}

.m_menu span {
  background: #005cdc;
  border: none;
  height: 0.8vw;
  width: 100%;
  position: absolute;
  top: -3vw;
  left: 0;
  transition: all .25s ease;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.m_menu span.line_t {
  top: 1vw;
}

.m_menu span.line_t.isActive {
  transform: rotate(45deg);
  top: 4vw;
  background-color: #fff;
}

.m_menu span.line_m {
  top: 4vw;
}

.m_menu span.line_m.isActive {
  opacity: 0;
}

.m_menu span.line_b {
  top: 7vw;
}

.m_menu span.line_b.isActive {
  transform: rotate(-45deg);
  top: 4vw;
  background-color: #fff;
}

.nav_sp {
  height: 100%;
  transition: .3s ease-in-out;
  transform: translateX(-100%);
}

.nav_sp.isActive {
  transform: translateX(0);
}

.form_width {
  width: 55% !important;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 1050px) {
  .form_width {
    width: 90% !important;
  }
}

.form_width .form_group {
  margin-bottom: 2vw !important;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group:nth-child(1), .form_width .form_group:nth-child(6) {
    margin-bottom: 3vw !important;
  }
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group {
    margin-bottom: 5vw !important;
  }
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .font_75 {
    font-size: 4.2vw !important;
  }
}

.form_width .form_group .checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
}

.form_width .form_group .checkbox-wrap .checkbox-wrap-item {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .checkbox-wrap .checkbox-wrap-item {
    margin-right: 5vw;
    margin-bottom: 2vw;
  }
}

.form_width .form_group .checkbox-wrap .checkbox-wrap-item input[type=radio] {
  margin-right: .3vw;
  width: 1.2vw;
  height: 1.2vw;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .checkbox-wrap .checkbox-wrap-item input[type=radio] {
    margin-right: .5vw;
    width: 4.2vw;
    height: 4.2vw;
  }
}

.form_width .form_group .c_width_25 {
  width: 25% !important;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .c_width_25 {
    width: 100% !important;
    margin-bottom: 2vw !important;
  }
}

.form_width .form_group .c_width_75 {
  width: 75% !important;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .c_width_75 {
    width: 100% !important;
  }
}

.form_width .form_group .c_w_input_60 {
  width: 60%;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .c_w_input_60 {
    width: 100% !important;
  }
}

.form_width .form_group .c_w_input_80 {
  width: 80%;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .c_w_input_80 {
    width: 100% !important;
  }
}

.form_width .form_group input, .form_width .form_group textarea {
  border: 1px solid #717171;
  font-size: 0.9375vw;
  padding: 0.5vw 1vw;
  color: #717171;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group input, .form_width .form_group textarea {
    font-size: 4.2vw;
    padding: 3vw;
  }
}

.form_width .form_group .need {
  background-color: #ff9000;
  color: #fff;
  font-size: .7vw;
  padding: .1vw .3vw .2vw;
  margin-left: .3vw;
}

@media only screen and (max-width: 1050px) {
  .form_width .form_group .need {
    font-size: 2.5vw;
    padding: 0.1vw 1vw 0.2vw;
  }
}
/*# sourceMappingURL=top.css.map */