header{
    &.isActive{
        box-shadow: none !important;
        .view_tabsp{
            h1{
                opacity: 0;
            }
            .menu_cont{
                background-color: #005cdc;
            }
        }
    }
}

.m_menu{
    position: relative;
    margin: 4vw auto 0;
    height: 7vw;
    span{
        background: #005cdc;
        border: none;
        height: 0.8vw;
        width: 100%;
        position: absolute;
        top: -3vw;
        left: 0;
        transition: all .25s ease;
        cursor: pointer;
        transition: .3s ease-in-out;
        &.line_t{
            top: 1vw;
            &.isActive{
                transform: rotate(45deg);
                top: 4vw;
                background-color: #fff;
            }
        }
        &.line_m{
            top: 4vw;
            &.isActive{
                opacity: 0;
            }
        }
        &.line_b{
            top: 7vw;
            &.isActive{
                transform: rotate(-45deg);
                top: 4vw;
                background-color: #fff;
            }
        }
    }
}

.nav_sp{
    height: 100%;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    &.isActive{
        transform: translateX(0);
    }
}

.form_width{
    width: 55% !important;
    margin: 0 auto;
    display: block;
    @media only screen and (max-width: 1050px) {
        width: 90% !important;
    }

    .form_group{
        margin-bottom: 2vw !important;
        &:nth-child(1), &:nth-child(6){
            @media only screen and (max-width: 1050px) {
                margin-bottom: 3vw !important;
            }
        }
        @media only screen and (max-width: 1050px) {
            margin-bottom: 5vw !important;
        }

        .font_75{
            @media only screen and (max-width: 1050px) {
                font-size: 4.2vw !important;
            }
        }
        
        .checkbox-wrap{
            display: flex;
            flex-wrap: wrap;
            .checkbox-wrap-item{
                display: flex;
                align-items: center;
                margin-right: 2vw;
                @media only screen and (max-width: 1050px) {
                    margin-right: 5vw;
                    margin-bottom: 2vw;
                }
                input[type=radio]{
                    margin-right: .3vw;
                    width: 1.2vw;
                    height: 1.2vw;
                    @media only screen and (max-width: 1050px) {
                        margin-right: .5vw;
                        width: 4.2vw;
                        height: 4.2vw;
                    }
                }
            }
        }
        .c_width_25{
            width: 25% !important;
            @media only screen and (max-width: 1050px) {
                width: 100% !important;
                margin-bottom: 2vw !important;
            }
        }
        .c_width_75{
            width: 75% !important;
            @media only screen and (max-width: 1050px) {
                width: 100% !important;
            }
        }
        .c_w_input_60{
            width: 60%;
            @media only screen and (max-width: 1050px) {
                width: 100% !important;
            }
        }
        .c_w_input_80{
            width: 80%;
            @media only screen and (max-width: 1050px) {
                width: 100% !important;
            }
        }
        input, textarea{
            border: 1px solid #717171;
            font-size: 0.9375vw;
            padding: 0.5vw 1vw;
            color: #717171;
            @media only screen and (max-width: 1050px) {
                font-size: 4.2vw;
                padding: 3vw;
            }
        }
        .need{
            background-color: #ff9000;
            color: #fff;
            font-size: .7vw;
            padding: .1vw .3vw .2vw;
            margin-left: .3vw;

            @media only screen and (max-width: 1050px) {
                font-size: 2.5vw;
                padding: 0.1vw 1vw 0.2vw;
            }
        }
    }
}

